.app-container {
  padding: 1.25rem; /* Default padding for mobile */
  padding-top: 2.5rem;
}

/* Tablets and small laptops */
@media (min-width: 481px) and (max-width: 768px) {
  .app-container {
    padding: 1.5rem;
    padding-top: 3rem;
  }
}

/* Laptops and desktops */
@media (min-width: 769px) and (max-width: 1024px) {
  .app-container {
    padding: 2rem;
    padding-top: 3.5rem;
  }
}

/* Large desktops */
@media (min-width: 1025px) {
  .app-container {
    padding: 2.5rem 9rem;
    padding-top: 2.5rem;
  }
}
